*{
    box-sizing: border-box;
    margin: 0;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
    font-family: sans-serif;
}
#time {
    font-size: 8rem;
}
h1 {
    margin-bottom: 3rem;
  }
  
  h2 {
    margin-bottom: 0.5rem;
    opacity: 0.6;
  }
  
  @media (max-width: 700px) {
    #time {
      font-size: 6rem;
    }
  }
/* .editable{
    text-underline-offset: none;
} */